# common/hosts-secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: lgtm-ingress-secret
type: Opaque
stringData:
  GF_ENDPOINT: # your-grafana-endpoint
  LOKI_ENDPOINT: # your-loki-endpoint (nginx takes care of proxying)
  MIMIR_READ_ENDPOINT: # your-mimir-query-frontend-endpoint
  MIMIR_WRITE_ENDPOINT: # your-mimir-distributor-endpoint
  TEMPO_READ_ENDPOINT: # your-tempo-query-frontend-endpoint
  TEMPO_WRITE_ENDPOINT: # your-tempo-distributor-endpoint