# common/lgtm-s3-secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: lgtm-s3-secret
type: Opaque
stringData:
  S3_ACCESS_KEY: your-ceph-s3-access-key # Access key for your user
  S3_SECRET_KEY: your-ceph-s3-secret-key # Secret key for your user
  S3_ENDPOINT: your-ceph-s3-endpoint # DNS name like objectstore.example.com
  S3_SECURE_CONNECT: your-ceph-s3-secure-connect # 'true' (https)/ 'false' (http)
  S3_PATH_STYLE: your-ceph-s3-path-style # 'true'(ceph)/ 'false' (s3)
  
  